/* Importing Poppins Google */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Setting up font family */
* {
    box-sizing: border-box;
    font-family: Poppins;
    color:#777;
}

/* Setting up html and body */

html, body {
    margin: 0;
    padding: 0;
}

/* Nav Bar */

nav ul {
    margin:0;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    display: inline-block;
    padding: .5em;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: rgba(144,152,125, 0.6);
}

.main-nav-bar {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(144,152,125, 0.6);
}

.main-nav-bar li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(144,152,125, 0.6);
    background-blend-mode: multiply;
    background-size: auto;
    background-position: center;
    padding-bottom: 30px;
}

.main-header-lasagna {
    background-image: url("images/parnis-azimi-GWWOvuVB1NI-unsplash.jpg");
}

.main-header-pancake {
    background-image: url("images/portuguese-gravity-qq3hT-CYD1I-unsplash.jpg");
}

.main-header-potroast {
    background-image: url("images/thermopro-Fpq12Oc2wM4-unsplash.jpg"); 
}

.recipe-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: #FFFFFF;
}

.recipe-name-title {
    font-size: 9em;
}

.content-section, .container {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5 em;
}

.section-header {
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
}

.main-footer {
    background-color: rgba(144,152,125);
    color: #FFFFFF;
    padding: 0.25em 0;
}

.main-footer-container{
    display: flex;
    align-items: center;
}



